management:
  endpoints:
    web:
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: metrics

server:
  port: 8080
  error:
    include-stacktrace: always
  max-http-header-size: 32768

spring:
  profiles:
    include:
      - template
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true