management:
  endpoints:
    web:
      exposure:
        include: prometheus, health
      path-mapping:
        prometheus: metrics

server:
  port: 8080
  error:
    include-stacktrace: always
  max-http-header-size: 32768